<div class="page-container">
  <div class="page-title">
    <h1 class="title">My playlist</h1>
    <button class="upload-btn" mat-raised-button>Upload to Spotify</button>
  </div>

  <div class="track" *ngFor="let track of tracks">
    <div class="album-cover">
      <img [src]="track.img" alt="">
    </div>
    <div class="track-content">
      <div class="track-info">
        <h2>{{track.name}}</h2>
        <h3>{{track.artist.name}}</h3>
      </div>
      <div class="cta-buttons">
        <div class="pause-button" *ngIf="track.isPlaying; else playButton">
          <div (click)="playOrPauseTrack(track)">
            <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#D7D7D7" viewBox="0 0 16 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M1 1.8c0-.442.32-.8.714-.8h1.429c.394 0 .714.358.714.8v14.4c0 .442-.32.8-.714.8H1.714a.678.678 0 0 1-.505-.234A.851.851 0 0 1 1 16.2V1.8Zm7.143 0c0-.442.32-.8.714-.8h1.429c.19 0 .37.084.505.234.134.15.209.354.209.566v14.4c0 .442-.32.8-.714.8H8.857c-.394 0-.714-.358-.714-.8V1.8Z" clip-rule="evenodd"/>
            </svg>
          </div>
        </div>
        <ng-template #playButton>
          <div class="play-button">
            <div (click)="playOrPauseTrack(track)">
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1.984v14.032a1 1 0 0 0 1.506.845l12.006-7.016a.974.974 0 0 0 0-1.69L2.506 1.139A1 1 0 0 0 1 1.984Z"/>
              </svg>
            </div>
          </div>
        </ng-template>
        <div class="trash-button">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
