<div class="music-player">
  <button class="playTrack-button" (click)="onPlayButtonClick()">
    <div class="pause-icon" *ngIf="track.isPlaying; else playButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 20"><path fill="currentColor" fill-rule="evenodd" d="M6.75 3a2 2 0 0 0-2 2v10a2 2 0 1 0 4 0V5a2 2 0 0 0-2-2Zm6.5 0a2 2 0 0 0-2 2v10a2 2 0 1 0 4 0V5a2 2 0 0 0-2-2Z" clip-rule="evenodd"/></svg>
    </div>
    <ng-template #playButton>
      <div class="play-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 20"><path fill="currentColor" d="M17.222 8.685a1.5 1.5 0 0 1 0 2.628l-10 5.498A1.5 1.5 0 0 1 5 15.496V4.502a1.5 1.5 0 0 1 2.223-1.314l10 5.497Z"/></svg>
      </div>
    </ng-template>
    <audio #musicPlayer>
      <source type="audio/mpeg">
    </audio>
  </button>
  <button class="playlist-button" (click)="goToPlaylist()">
    <div class="playlist-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path fill="currentColor" d="M32 64a8 8 0 0 1 8-8h176a8 8 0 0 1 0 16H40a8 8 0 0 1-8-8Zm8 72h120a8 8 0 0 0 0-16H40a8 8 0 0 0 0 16Zm72 48H40a8 8 0 0 0 0 16h72a8 8 0 0 0 0-16Zm130.3-67.66l-40-12A8 8 0 0 0 192 112v52.31A32 32 0 1 0 208 192v-69.25l29.7 8.91a8 8 0 1 0 4.6-15.32Z"/></svg>
    </div>
  </button>
</div>
