h2, h3 {
  line-height: normal;
}

figure {
  border-width: 0;
  border-style: solid;

  margin: 0;
  max-width: 170px;

  display: grid;

  img {
    width: 100%;
  }
}

figure:hover {
  filter: drop-shadow(7px 8px 20px rgba(0, 0, 0, 0.25));
}

img:hover {
  cursor: pointer;
}

figcaption:hover {
  cursor: default;
}

.song-information {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: .5rem 10px 1rem 10px;
}

.col:nth-child(1) {
  .song-title {
    margin: 5px 0;
    max-height: 30px;
    overflow: hidden;

    h2 {
      margin: 0;
      height: 100%;
      font-family: Inter, 'Tilt Warp', cursive;
      font-size: var(--fs-300);
      font-weight: 700;
      line-height: 15px;
    }
  }

  .artist {
    h3 {
      margin: 0;
      font-family: Inter, 'Tilt Warp', cursive;
      font-size: var(--fs-300);
      font-weight: 600;
    }
  }
}

.col:nth-child(2) {
  min-width: 20px;
  width: 25px;
}
