.page-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 50px 0 80px 0;
  gap: 30px;
  // for bigger screens
  max-width: 1800px;
  margin: 0 auto;
}

.page-title {
  margin-top: 25px;
  padding: 0 3%;

  h1 {
    margin: 0;
    font-family: Inter, 'Tilt Warp', cursive;
    font-size: var(--fs-600);
    font-weight: 700;
  }
}

.song-list {
  padding: 0 3%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: start;
  align-items: start;
  grid-gap: 10px;
}

.loading-spinner {
  align-self: center;
}

mat-drawer {
  position: fixed;
}

@media (max-width: 550px) {
  .page-title h1 {
    font-weight: 800;
  }

  .song-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 551px) and (max-width: 700px) {
  .song-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
